<% if false %>
#ユーザ情報の詳細画面
#本画面は、ユーザ画像とお気に入り登録された商品の一覧を表示する。
#ユーザ情報の編集、削除への画面遷移を持つ。
#お気に入り登録商品への画面遷移を持つ。
<% end %>

<div class="row">
	<div class="col-xs-3">
		<div class="user-profile">
			<div class="panel panel-default">
				<div class="panel-body">
					<div class="icon text-center">
						<img src="<%= gravatar_url(@user, size: 100) %>" alt="" class="img-circle">
					</div>
				</div>
				<div class="panel-footer panel-custom">
					<div class="text-center">
						<h4><%= @user.name %>さん</h4>
					</div>
				</div>
			</div>
			<div class="text-center">
				<%= link_to '編集', edit_user_path, class:"btn btn-info" %>
				<%= link_to '退会', @user, method: :delete, data: {confirm: "登録されている情報が消えますが、よろしいですか?"}, class:"btn btn-danger" %>
			</div>
		</div>	
	</div>
	<div class="col-xs-9 item-table">
		<% if @items.count != 0 %>
			<table class="table table-striped">
				<thead class="table-edit">
					<tr>
						<th class="table1">商品名</th>
						<th class="table2">価格</th>
					</tr>
				</thead>
				<tbody>
					<% @items.each do |item| %>
						<tr>
							<td class="read-size"><%= link_to item.name, item %></td>
							<td>
								<%= latest_price_display(item) %>
								<%# 最新価格の方が安い場合 %>
								<% if (p = comparing_price(item)) == 0 %>
									<span class="glyphicon glyphicon-circle-arrow-down color-down"></span>
								<%# 最新価格の方が高い場合 %>
								<% elsif p == 1 %>
									<span class="glyphicon glyphicon-circle-arrow-up color-up"></span>
								<%# 最新価格に変化ない場合 %>
								<% else %>
									<span class="glyphicon glyphicon-circle-arrow-right color-right"></span>
								<% end %>
							</td>
						</tr>
					<% end %>
				</tbody>
			</table>
			<div class="help">
				<%= link_to help_path, remote: true, :onclick=>"var w = ( screen.width-640 ) / 2; var h = ( screen.height-480 ) / 2; window.open(this.href,'XXX', 'height=480, width=640'+',left='+w+',top='+h);return false;" do %>
					<span class="glyphicon glyphicon-question-sign"></span>
					ヘルプ
				<% end %>
			</div>
			<div class="update-button">
				<%= form_tag(bulk_create_path) do %>
					<%= hidden_field_tag :items, @items %>
					<%= submit_tag '一括更新', class:"btn btn-primary" , data: { confirm: "少し時間がかかりますが、よろしいですか?"}%>
				<% end %>
			</div>
			<div>
				<%= paginate @items %>
			</div>
		<% else %>
		 <h4>商品が登録されていません</h4>
		<% end %>
	</div>
</div>