<div class="want">
	<% if current_user.want?(item) %>
	<%# お気に入り登録済みの場合 %>
		<%= form_tag(ownership_path(item.id), method: :delete) do %>
			<%= hidden_field_tag :item_id, item.id %>
			<%= hidden_field_tag :type, 'Want' %>
			<%= submit_tag 'お気に入り登録済み', class:"btn btn-success" %>	
		<% end %>
	<% else %>
	<%# お気に入り登録の場合 %>
		<%= form_tag(ownerships_path) do %>
			<%= hidden_field_tag :item_code, item.code %>
			<%= hidden_field_tag :type, 'Want' %>
			<%= submit_tag 'お気に入り登録', class:"btn btn-primary" %>
		<% end %>
	<% end %>
</div>

